<div id="<%= dom_id receita %>">
  <p>
    <strong><%= t('activerecord.attributes.receita.nome') %>:</strong>
    <%= receita.nome %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.receita.categoria') %>:</strong>
    <%= receita.categoria %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.receita.ingredientes') %>:</strong>
    <%= receita.ingredientes %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.receita.modo_de_preparo') %>:</strong>
    <%= receita.modo_de_preparo %>
  </p>

</div>