<% if notice %>
  <div class="aviso"><%= notice %></div>
<% end %>

<% content_for :title, t('.title') %>

<div style="text-align: right; padding: 8px;">
  <%= link_to "🇺🇸 English", url_for(locale: 'en') %> |
  <%= link_to "🇪🇸 Español",  url_for(locale: 'es') %> |
  <%= link_to "🇧🇷 Português", url_for(locale: 'pt-BR') %>
</div>

<h1><%= t('.title') %></h1>

<div id="receitas">
  <% @receitas.each do |receita| %>
    <%= render receita %>
    <p>
      <%= link_to t('.show'), receita, class: "botao-nativo" %>
    </p>
  <% end %>
</div>

<%= link_to t('.new'), new_receita_path, class: "botao-nativo" %>
