<% if notice %>
  <div class="aviso"><%= notice %></div>
<% end %>

<% content_for :title, t('.title') %>

<div style="text-align: right; padding: 8px;">
  <%= link_to "🇧🇷 Português", url_for(locale: 'pt-BR') %> |
  <%= link_to "🇺🇸 English", url_for(locale: 'en') %>
</div>

<h1><%= t('.title') %></h1>

<%= render "receita", receita: @receita %>

<div>
  <%= link_to t('.update'), edit_receita_path(@receita), class: "botao-nativo espacado" %>
  <br>
  <%= link_to t('.delete'), receita_path(@receita), method: :delete, data: { confirm: t('messages.confirm') }, class: "botao-nativo espacado" %>
  <br>
  <%= link_to t('.back'), receitas_path, class: "botao-nativo" %>
</div>